%html
  %head
    %meta{name: 'viewport', content: 'width=device-width'}
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8'}
  %body
    %p
      Thank you for signing up to the mailing list.
    %p
      %b
        To confirm your email address, please
        %a{href: "#{base_url}/subscribe/confirm?email_address=#{email_address}&token=#{token}"}
          click here.