%html
  %head
    %title #{@title} - LambdaMail
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli&display=swap'}
    %link{rel: 'stylesheet', href: '/css/base.css'}
    %link{rel: 'stylesheet', href: '/css/admin_page.css'}
  %body
    #container
      #sidebar
        -# 96px material rounded icons from icons8
        %img#badge{src: '/img/logo.png'}
        %a{href: '/admin/dashboard'}
          %img.sidebar-icon{src: '/img/icon-details.png', class: ('selected' if @name.start_with?('dashboard'))}
        %a{href: '/admin/recipients'}
          %img.sidebar-icon{src: '/img/icon-group.png', class: ('selected' if @name.start_with?('recipients'))}
        %a{href: '/admin/messages'}
          %img.sidebar-icon{src: '/img/icon-email.png', class: ('selected' if @name.start_with?('messages'))}
      #content-background
        #content-foreground
          - if @logs.filter { |(l, _)| l == :warn || l == :error }.any?
            .alert
              %b ALERT!
              %p There are some critical warnings and/or errors which may affect the stability of LambdaMail.
              %ul
                - @logs.filter { |(l, _)| l == :warn || l == :error }.each do |(_, m)|
                  %li= m
          - unless @sidekiq_running
            .alert
              %b ALERT!
              %p
                The Sidekiq service isn't running.
                %b Do not send any emails right now.
                Ask a system administrator to restart Sidekiq.
          = styled_flash
          = yield
    #footer
