%html
  %head
    %title #{@title} - LambdaMail
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli&display=swap'}
    %link{rel: 'stylesheet', href: '/css/base.css'}
    %link{rel: 'stylesheet', href: '/css/admin_page.css'}
  %body
    #container
      #sidebar
        -# 96px material filled icons from icons8
        %img#badge{src: '/img/logo.png'}
      #content-background
        #content-foreground
          = styled_flash
          = yield
    #footer
