%html
  %head
    %title #{@title}
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Muli&display=swap'}
    %link{rel: 'stylesheet', href: '/css/base.css'}
  %body
    #container
      = styled_flash
      = yield
    #footer
