#container {
  display: flex;
  flex-direction: row;
}

#container #sidebar {
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: rgb(125, 137, 153);
}

#container #sidebar #badge {
  padding: 10px;
  padding-bottom: 30px;
  width: calc(100% - 20px);
}

#container #content-background {
  margin-left: 80px;
  background-color: rgb(243, 242, 244);
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

#container #content-foreground {
  background-color: white;
  padding: 10px;
}

.sidebar-icon {
  padding: 20px;
  width: calc(100% - 40px);
}

.selected {
  background-color: rgb(243, 242, 244);
  box-shadow: inset 0px 10px 5px -5px #444;
}

#message-editor {
  display: flex;
  flex-direction: row;
}

#message-editor #details-form, #message-editor > iframe {
  flex: 1 1 0;
}

.alert {
  border: 1px solid red;
  border-radius: 5px;
  background: rgb(224, 56, 56);
  padding: 15px;
  color: white;
  margin-bottom: 5px;
}
