#container {
  display: flex;
  flex-direction: row;
}

#container #sidebar {
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: rgb(125, 137, 153);
}

#container #sidebar #badge {
  padding: 10px;
  width: calc(100% - 20px);
}

#container #content-background {
  margin-left: 80px;
  background-color: rgb(243, 242, 244);
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

#container #content-foreground {
  background-color: white;
  padding: 10px;
}

.inline {
  display: inline-block;
}