* {
  font-family: 'Muli', sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
}

input, textarea, select {
  padding: 8px;
  border: 1px solid rgb(68, 55, 82);
  border-radius: 5px;
  margin-bottom: 10px;
}

input, label, textarea, select {
  display: block;
  min-width: 150px;
}

button {
  padding: 8px;
  border: 1px solid rgb(68, 55, 82);
  border-radius: 5px;
  background-color: rgb(68, 55, 82);
  cursor: pointer;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  transition: all 0.15s linear;
}

button:disabled {
  background-color: #bbb;
  color: #555;
  cursor: not-allowed;
  border-color: #bbb;
}

button:hover:enabled {
  background-color: rgb(125, 137, 153);
  color: black;
}

.flash {
  border: 1px solid black;
  border-radius: 5px;
  background: #bbb;
  padding: 15px;
}

.flash.success {
  background-color: #3dbd5d;
  border-color: #007500;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

table {
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
}

tr, td {
  padding: 10px;
  text-align: center;
}
